* {
    font-family: cursive;
    box-sizing: border-box;
    transition: 0.2s;
}
/* EFECTOS EN LA BARRA */
.active{
    color:#ffffff;
    margin-left: 1em;
    text-decoration: none;
    font-size:20px;
    font-weight: bold;
    text-shadow: 
        0 0 7px #fff,
        0 0 21px #fff,
        0 0 42px #FFC300,
        0 0 82px #FFC300,
        0 0 92px #FFC300;
}
#letras:hover{
    color:#fff;
    text-shadow: 
    0 0 7px #fff,
    0 0 21px #fff,
    0 0 42px #FFC300,
    0 0 82px #FFC300,
    0 0 92px #FFC300;
}
.no-active {
    text-decoration: none;
    color:white;
    margin-left: 1.5em;
    font-size: 1.2em;
    font-weight: bold;
    padding:4px;
}
.no-active:hover{
    color:#ffffff;
    text-decoration: none;
}
.barra{
    background: transparent;
    color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    height: 6.5rem;
    letter-spacing: 0.5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
.barra-scrolled{
  background-color: #010a01;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.navtoggle {
    color: #ffffff;
}
.logo{
    color:#fff;
    font-family: Tahoma, sans-serif;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
}
.logo:hover{
    color: #fff;
    text-decoration: none;
    text-shadow: 
        0 0 7px #fff,
        0 0 21px #fff,
        0 0 42px #FFC300,
        0 0 82px #FFC300,
        0 0 92px #FFC300;
}
.logo2{
    color:#fff;
    font-size:2rem;
    padding-left: 1em;
    font-weight: bold;
    
}
.logo2:hover{
    color: #FFf;
    text-decoration: none;
    text-shadow: 
        0 0 7px #fff,
        0 0 21px #fff,
        0 0 42px #FFC300,
        0 0 82px #FFC300,
        0 0 92px #FFC300;
}
.letras:hover{
  color: #FFf;
  text-decoration: none;
  text-shadow: 
      0 0 7px #fff,
      0 0 21px #fff,
      0 0 42px #FFC300,
      0 0 82px #FFC300,
      0 0 92px #FFC300;
}
.text-home{
    font-family: 'Franklin Gothic Medium', sans-serif;
}

.text-login{
    font-family: 'Franklin Gothic Medium', sans-serif;
}

.inputsz{
    width: 100%;
}

/* HOME PAGE*/
body {

    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: sans-serif; 
    font-family: "Yellowtail", sans-serif;
    background-color: #010a01;
    background-image: url(../Imagenes/interior.jpg);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.container {
    min-height: 20vh;
    display: flex;
    justify-content: center;

}

.container > * {
  text-decoration: none;
  color: #ffffff;
}

.imgcontainer  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 55vh;

}

.imgcontainer img {
    max-width: 75%;
    max-height: 65%;
}


.neonText {
    display: flex;
    justify-content: center;
    color: #ddd;
    padding-top: 15rem;
   
  }


/* .login-box{
    top:50%;
    left: 50%;
    width: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: #333;
    box-shadow: 0 15px 25px #FFC300;
    border-radius: 10px;
} */

/* LOGIN */
.login-box h2{
    font-size: 40px;
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.login-box .user-box input{
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label{
    position: relative;
    left: 0;
    top: -60px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}
.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label{
    top: -85px;
    left: 0;
    color: #ffffff;
    font-size: 12px;
}
#submit button{
    padding: 18px 20px;
    color: #000000;
    background-color: #ffffff;
    font-size: 0.7rem;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #ffffff;
    margin: auto;
    border-radius: 15px;
}
.button-form{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5%;
}

.button-form button {
  max-width: 10rem;
}

#registrar{
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center ;
}
#resgistrar button{
  padding: 18px 20px;
  color: #000000;
  background-color: #ffffff;
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  border: 1px solid #ffffff;
  margin: auto;
  border-radius: 15px;
}
#submit button:hover{
  background-color: #FFC300;
  border-color: #FFC300;
}
#registrar button:hover{
  background-color: #FFC300;
  border-color: #FFC300;
}

/* CONTENIDO DEL MENU HAMBURGUESA */

.menu-container  {

    display: grid;
    color: #ffffff;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    
}

/*  CARDS */
.card-container  {
    border-radius: 18px;
    text-align: center;
    border: 0.1px solid yellow;
    min-height: 35rem;
}
.imagen {
    width: 100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.desc {
    height: 4.5rem;
    padding: 2%;
    font-size: small;
}
.buttonsdiv {
  display: flex;
  justify-content: space-around;
  padding: 3%;
}
.buttonsdiv button {
  padding: 1%;
  text-align: center;
  background-color: #FFC300;
  color: #000000;
  font-weight: 400;
  border-radius: 30px;
  font-size: 1rem;
  border: none;
}
.buttonsdiv button:hover {
  text-align: center;
  box-shadow:         
  0 0 7px #fff,
  0 0 21px #fff,
  0 0 30px #FFC300;
}
.container-general {
  padding: 8%;
  display: flex;
  justify-content: center;
}



/* DETALLE HAMBURGUESA */

.detalle-container {
  padding: 5%;
  display: flex;
  justify-content: center;
}

.card-detalle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  max-width: 70vw;
  max-height: 70vh;
  border: 1px solid #FFC300;
  border-radius: 15px;



}

.cardimg-detalle {
  border-radius: 15px;
  padding: 5%;

}

.cardimg-detalle img {
  width: 20vw;
  min-width: 15rem;
  border-radius: 15px;
}

.buttondetalle {
  padding: 4%;
}

.buttondetalle button {
  border-radius: 15px;
}




/* // ESTILOS CARRITO */

.carrito-container {
  display: flex;
  justify-content: center;
  height: 60vh;
  padding: 10%;
}

.carrito-detalle {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  border: 1px solid #FFC300;
  color: #ffffff;
  border-radius: 15px;
  padding: 4%;
}



.carrito-img {
  width: 20%;

}

.carrito-img img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid white;


}

.carrito-buttons {
  min-width: 8%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}


.carrito-buttons button {
  border: none;
  font-size: 1.5rem;
  border-radius: 10px;
  width: 2rem;
  margin: 4px;
}




/* LOGIN VIEW ESTILOS*/

.login-view {
  padding: 10%;
  display: flex;
  justify-content: center;
}

.login-box {
  background-color: #333;
  border: 1px solid white;
  border-radius: 10px;
  max-width: 50vw;
  padding: 5%;
}


/*ESTILOS REGISTRO*/

.registro-container {

  padding: 8%;
}
.registro-container > * {

  border-radius: 15px;

}
/* ESTILOS FOOTER */
.footer-distributed{
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #FFC300;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #FFC300;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* RESPONSIVE MEDIA QUERIES */

@media (max-width: 980px) {

  .menu-container {
    grid-template-columns: repeat(2, 1fr);

  }

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    max-height: 30vh;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

  .carrito-detalle {

    flex-direction: column;
    border: none;




  }

}

@media (max-width: 550px) {
  .menu-container {
    grid-template-columns: repeat(1, 1fr);
  }
  body {
    background-repeat: repeat;
    height: 100vh;


  }
  .login-box {

    min-width: 100vw;

  }

   
}




/* IMAGEN ICONOS WS, INSTAGRAM */
.imgws {
    width: 4vh;
}



/* }
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    filter: brightness(300%);
    overflow: hidden;
    background-image: ;
}
.txt{
    color: #fff;
    background: black;
    font-size: 150px;
    font-weight: bold;
    margin: auto;
}
.txt:before{
    content: 'Burguer Town';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(2px);
}
.txt_gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background: linear-gradient(45deg, 
                rgb(6, 112, 250) 5%,
                rgb(255, 0, 64) 97%);
}
.txt_dodge{
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    mix-blend-mode: color-dodge;
    background: radial-gradient(circle,white,black 35%) 
                center / 25% 25%;
    animation: neon 3s linear infinite;
}
@keyframes neon{
    to{
        transform: translate(50%, 50%);
    }
} */