* {
    font-family: cursive;
    box-sizing: border-box;

}
/* EFECTOS EN LA BARRA */
.active{
    color:#ffffff;
    margin-left: 1em;
    text-decoration: none;
    font-size:20px;
    font-weight: bold;
    text-shadow: 
        0 0 7px #fff,
        0 0 21px #fff,
        0 0 42px #FFC300,
        0 0 82px #FFC300,
        0 0 92px #FFC300;
}
#letras:hover{
    color:#fff;
    text-shadow: 
    0 0 7px #fff,
    0 0 21px #fff,
    0 0 42px #FFC300,
    0 0 82px #FFC300,
    0 0 92px #FFC300;
}
.no-active {
    text-decoration: none;
    color:white;
    margin-left: 1.5em;
    font-size: 1.2em;
    font-weight: bold;
    padding:4px;
}
.no-active:hover{
    color:#ffffff;
    text-decoration: none;
}
.barra{
    background: transparent;
    color: #ffffff;
    width: 100%;
    height: 6.5rem;
    letter-spacing: 0.5px;
}
.barra-scrolled{
  background-color: #010a01;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.navtoggle {
    color: #ffffff;
}
.logo{
    color:#fff;
    font-family: Tahoma, sans-serif;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
}
.logo:hover{
    color: #fff;
    text-decoration: none;
    text-shadow: 
        0 0 7px #fff,
        0 0 21px #fff,
        0 0 42px #FFC300,
        0 0 82px #FFC300,
        0 0 92px #FFC300;
}
.logo2{
    color:#fff;
    font-size:2rem;
    padding-left: 1em;
    font-weight: bold;
    
}
.logo2:hover{
    color: #FFf;
    text-decoration: none;
    text-shadow: 
        0 0 7px #fff,
        0 0 21px #fff,
        0 0 42px #FFC300,
        0 0 82px #FFC300,
        0 0 92px #FFC300;
}
.letras:hover{
  color: #FFf;
  text-decoration: none;
  text-shadow: 
      0 0 7px #fff,
      0 0 21px #fff,
      0 0 42px #FFC300,
      0 0 82px #FFC300,
      0 0 92px #FFC300;
}
/* .text-home{
    font-family: 'Franklin Gothic Medium', sans-serif;
}

.text-login{
    font-family: 'Franklin Gothic Medium', sans-serif;
}

.inputsz{
    width: 100%;
} */

/* HOME PAGE*/
 body {

    padding: 0;
    font-family: sans-serif; 
    background-image: url(../Imagenes/interior.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;


} 


.container {
    display: flex;
    justify-content: center;
    align-items: center;



} 

.container > * {
  text-decoration: none;
  color: #ffffff;
}

.imgcontainer  {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    height: 55vh;


}

.imgcontainer img {

    max-height: 30%;
}


.neonText {
    display: flex;
    justify-content: center;
    color: #ddd;
    padding-top: 15rem;
   
  }


/* LOGIN */
.login-box h4{
    font-size: 1.5rem;
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.login-box .user-box input{
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}


#submit button{
    padding: 18px 20px;
    color: #000000;
    background-color: #ffffff;
    font-size: 0.7rem;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #ffffff;
    margin: auto;
    border-radius: 15px;
}
.button-form{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5%;
}

.button-form button {
  max-width: 10rem;
  border-radius: 15px;

  
}

#registrar {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center ;
    width: 100%;
}




/* CONTENIDO DEL MENU HAMBURGUESA */

.menu-container  {

    display: grid;
    color: #ffffff;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 5rem;

    
}

/*  CARDS */
.card-container  {
    border-radius: 18px;
    text-align: center;
    border: 0.1px solid yellow;
    min-height: 32rem;
}
.imagen {
    width: 100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.desc {
    height: 4.5rem;
    padding: 2%;
    font-size: small;
}
.buttonsdiv {
  display: flex;
  justify-content: space-around;
  padding: 3%;
}
.buttonsdiv button {
  padding: 2%;
  text-align: center;
  background-color: #FFC300;
  color: #000000;
  font-weight: 100;
  border-radius: 30px;
  font-size: 0.8rem;
  border: none;
  margin-right: 10px;
}
.buttonsdiv button:hover {
  text-align: center;
  box-shadow:         
  0 0 7px #fff,
  0 0 21px #fff,
  0 0 30px #FFC300;
}
.container-general {
  padding: 10%;
  /* display: flex; */
  justify-content: center;
}



/* DETALLE HAMBURGUESA */

.detalle-container {
  padding: 6%;
  display: flex;
  justify-content: center;
}

.card-detalle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  max-width: 40vw;
  max-height: 50vh;
  border-radius: 15px;
  padding: 8%;

}

.cardimg-detalle {
  border-radius: 15px;
  padding: 2%;

}

.cardimg-detalle img {
  width: 10vw;
  min-width: 9rem;
  border-radius: 15px;
}

.buttondetalle {
  padding: 4%;
}

.buttondetalle button {
  border-radius: 15px;
}




/* // ESTILOS CARRITO */

.cartcss {
  padding: 18%;
  min-height: 90vh;
}


.carrito-container {
  display: flex;
  justify-content: center;
  height: 55vh;
  padding: 10%;
}

.carrito-detalle {
  display: flex;
  width: 40vw;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  color: #ffffff;
  border-radius: 15px;
  padding: 5%;
}



.carrito-img img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid white;


}

.carrito-buttons {
  min-width: 8%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}


.carrito-buttons button {
  border: none;
  font-size: 1.5rem;
  border-radius: 10px;
  width: 2rem;
  margin: 4px;
}




/* LOGIN VIEW ESTILOS*/

.login-view {
  padding: 15%;
  display: flex;
  justify-content: center;
}

.login-box {
  background-color: #333;
  border: 1px solid white;
  border-radius: 10px;
  max-width: 40vw;
  padding: 3%;
}




/*ESTILOS REGISTRO*/

.registro-container {

  padding: 15%;
  display: flex;
  justify-content: center;

}

.registrocss {
  border: 1px solid #ffffff;
  border-radius: 15px;
  min-width: 80%;
  text-align: center;
  font-size: 0.8rem;

}

.registrocss input {
  border-radius: 10px;
  padding: 5px;
  width: 40%;

}

/*ESTILOS PERFIL*/

.perfilcss-container {
  height: 80vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* ESTILOS COMENTARIOS*/
  .comentarios-css{
    min-height: 80vh;
    color: white;
    display: flex;
    /* justify-content: center;
    align-items: center; */
  }

  .comentario-detalle{
    max-width: 100vh;
    max-height: 100vh;
  }
  

/* ESTILOS LIKE HAMBURGUESAS*/
.heart{
  color: #fff;
  fill: none;
  opacity: 1;
  cursor: pointer;
  transform: scale(1.5);
  position: absolute;
  margin-top: 15px;
  margin-left: -50px;
}

.liked{
  color: red;
  fill: red;
  opacity: 1;
  cursor: pointer;
  transform: scale(1.5);
  position: absolute;
  margin-top: 15px;
  margin-left: -50px;

}


/*ESTILOS FAVORITOS VIEW*/



.favoritos-container {

  display: flex;
  min-height: 80vh;
  justify-content: center;
  align-items: center;

}


.favoritosview {

  color: white;
  min-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}



/*NOT FOUND VIEW*/


.notfound {

  display: flex;
  min-height: 80vh;
  justify-content: center;
  align-items: center;

}


.notfound h4 {

  color: white;
  text-align: center;
}
/* ESTILOS FOOTER */

.footercss {
  background-color: #FFC300;
  display: flex;
  height: 20vh;
  padding: 2%;
  justify-content: center;
  align-items: center;
  margin-top: auto; 

}

.footercss > * {

  margin: 0.8rem;
  font-size: 0.7rem;
}





/* RESPONSIVE MEDIA QUERIES */

@media (max-width: 880px) {

  .menu-container {
    grid-template-columns: repeat(2, 1fr);
    
  }

  .footercss {
    
    height: 50vh;
    flex-wrap: wrap;
    text-align: center;
  }
  .barra {
    position: relative;
  }
  .card-container {
    margin-top: 10rem;
  }
  .detalle-container {
    margin-top: 5rem;
  }
  .card-detalle {
    min-width: 100vw;
  }
  .cartcss {
    margin-top: 5rem;
  }

  .cartcss div {
    min-width: 100%;
  }

  .login-view {
    margin-top: 8rem;

  }
  .registro-container {
    margin-top: 5rem;
  }
  .registro-container > * {
    min-width: 100vw;
  }
  .registrocss > * {
    min-width: 100vw;
  }

  
  .carrito-detalle {

    flex-direction: column;
    border: none;

  }
  .favoritos-container {
    margin-top: 10rem;
  }


}

@media (max-width: 550px) {
  .menu-container {
    grid-template-columns: 1fr;
  }

  body {
    background-repeat: repeat;

  }

  .login-box {

    min-width: 100vw;

  }

   
}


/* IMAGEN ICONOS WS, INSTAGRAM */
.imgws {
    width: 4vh;
}

